/* Content tags */
h1,
h2,
h3,
p,
li {
  background-color: var(--color-background-block);
}

a,
img,
video,
label,
button {
  background-color: var(--color-background-inline);
}

/* Special cases */
/* The tag below don't support the before or after pseudo elements */
img,
video {
  max-width: 100%;
  border: 2px solid var(--color-border-inline);
}

input {
  background-color: white;
  border: 2px solid var(--color-border-inline);
}
