/* Container tags */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  /* Striped background to showcase that you imported the CSS file correctly */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANAgMAAAAPhQzvAAAADFBMVEXv7+/g4ODr6+vj4+MChw6tAAAAO0lEQVQI103GMREAIAhA0X+sZrEDLdzMwUgpdkqwE0XvXHzTowmFsRzCvrBcEmMqLpUwN0j1CzfOZugBFooQNECuSMIAAAAASUVORK5CYII=");
}

div {
  border: 2px solid var(--color-border-block);
  background: none;
}

span {
  border: 2px solid var(--color-border-inline);
  background: none;
  vertical-align: middle;
}

ul,
ol {
  padding-left: 32px; /* To restore the bulet and number space */
}

div::before {
  color: var(--color-border-block);
}

span::before {
  color: var(--color-border-inline);
}
