/* Setup */
* {
  box-sizing: border-box;
}

/* Tags --/
/* -- Container */
body,
div,
span,
header,
section,
aside,
footer,
article,
nav,
form,
ul,
ol,
/* -- Content */
h1,
h2,
h3,
p,
a,
li,
input,
label {
  position: relative;
  margin: var(--space-small) 0;
  padding: 12px var(--space-small) var(--space-small);
  background-color: var(--color-background);
  border-radius: var(--radius);
}

/* Labels --/
/* -- Container */
body::before,
div::before,
span::before,
header::before,
section::before,
aside::before,
footer::before,
article::before,
nav::before,
form::before,
ul::before,
ol::before,
/* -- Content */
h1::before,
h2::before,
h3::before,
p::before,
a::before,
li::before,
label::before {
  position: absolute;
  top: 0;
  left: var(--space-small);
  color: #656d78;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
