/* Tag labels */
body::before {
  content: "Training wheels";
}

div::before {
  content: "div";
}

span::before {
  content: "span";
}

header::before {
  content: "header";
}

section::before {
  content: "section";
}

aside::before {
  content: "aside";
}

article::before {
  content: "article";
}

footer::before {
  content: "footer";
}

ul::before {
  content: "unordered list";
}

ol::before {
  content: "ordered list";
}

nav::before {
  content: "navigation";
}

form::before {
  content: "formulary";
}

h1::before {
  content: "heading 1";
}

h2::before {
  content: "heading 2";
}

h3::before {
  content: "heading 3";
}

p::before {
  content: "paragraph";
}

li::before {
  content: "list item";
}

a::before {
  content: "anchor (link)";
}

input::before {
  content: "input";
}

label::before {
  content: "label";
}
