:root {
  /* -- Color */
  --color-background: rgba(101, 109, 120, 0.2);
  --color-background-block: #c1d5ee;
  --color-background-inline: #ddd5f1;
  --color-border-block: #5d9cec;
  --color-border-inline: #967adc;

  /* -- Space */
  --space-micro: 4px;
  --space-small: 8px;

  /* -- Other */
  --radius: 4px;
}
